* { 
	margin: 0; 
	padding: 0; 
}

#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
    tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}


tbody:hover tr:hover td {
	color: #444;
	background: #ff0; pointer-events: visible;
	text-shadow: 0 1px 0 #fff;
	transform: scale(1.1); font-weight:500px; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}