@import "bar.css";

.DVSL-container {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

/*main layout*/
.DVSL-container.DVSL-flat .DVSL-background {

}

/* Interaction DIV - will recieve focus and process input and key events */
.DVSL-interaction {
    outline: none; /*disable outline*/
}

.DVSL-menu-container {
	pointer-events: none;
}

.DVSL-menu-container.DVSL-menu-workaround {
    /* 
        for some strange reason box-shadow enables IE9/10 to properly capture events on menu-container. otherwise they get through to canvas 
        the issue can be seen on FacetChart only. And it does not work for GeoChart so it will be removed in the code.
    */
    box-shadow: none;                                      
}

.DVSL-menu-container * {
	pointer-events: auto;
}

.DVSL-menu-container .DVSL-empty {
	pointer-events: none;
    font-size: 1px;
}


/*background image rules*/
.DVSL-container .DVSL-background-image {
	background:  no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.DVSL-PC-background-image {
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	border-radius: 9999px;
    background-position: center center;
    position: absolute;
    overflow: hidden;
}

.DVSL-container.DVSL-gradient .DVSL-background-image,
.DVSL-container.DVSL-round .DVSL-background-image {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.DVSL-container.DVSL-gradient .DVSL-background {
    background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top,  #fafafa 0%, #bababa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#bababa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#bababa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#bababa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#bababa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fafafa 0%,#bababa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.DVSL-container.DVSL-round .DVSL-background {
    border:1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.DVSL-valueAxisInside .DVSL-valueAxis {
    background-color: rgba(255,255,255,0.7);
}
.DVSL-valueAxisInside .DVSL-valueAxis.DVSL-gradient {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow:         2px 2px 4px rgba(0, 0, 0, 0.5);
}

.DVSL-container .DVSL-valueAxisOutside .DVSL-valueAxis {
    /*Empty style */
}

.DVSL-container.DVSL-gradient .DVSL-border {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow:    inset 0px 0px 8px rgba(0, 0, 0, 0.8);
    box-shadow:         inset 0px 0px 8px rgba(0, 0, 0, 0.8);
}

/* Hack for IE 10 */
.DVSL-container.DVSL-flat .DVSL-border {
    box-shadow:         none;
}

/* bar hover */
.DVSL-hover-right {
    left:30px;
    top:10px;
}
.DVSL-hover-center {
    left:300px;
    top:10px;
}
.DVSL-hover-left {
    left:550px;
    top:10px;
}
.DVSL-hover-right, .DVSL-hover-left, .DVSL-hover-center {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#333;
    background:rgba(255,255,255,.95);
    position:absolute;
    padding:5px 0;
}
.DVSL-gradient .DVSL-hover-right, .DVSL-gradient .DVSL-hover-left, .DVSL-gradient .DVSL-hover-center {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.DVSL-gradient .DVSL-hover-right, .DVSL-gradient .DVSL-hover-left {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.5);
}
.DVSL-flat .DVSL-hover-right, .DVSL-flat .DVSL-hover-left {
    border:1px solid #DDD;
}
.DVSL-hover-center {
    background:rgba(45,136,181,.5);
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}
.DVSL-hover-right em, .DVSL-hover-left em {
    content: "";
    width:0;
    height:0;
    position:absolute;
}
.DVSL-hover-right em {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:6px solid #FFF;
    left:-6px;
    top:50%;
    margin-top:-6px;
}
.DVSL-hover-left em {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left:6px solid #FFF;
    right:-6px;
    top:50%;
    margin-top:-6px;
}
.DVSL-flat .DVSL-hover-right em {
    border-right:6px solid #DDD;
}
.DVSL-flat .DVSL-hover-left em {
    border-left:6px solid #DDD;
}
.DVSL-hover-left div, .DVSL-hover-right div {
    float:left;
    padding:5px 8px;
    border-right:1px solid #EFEFEF;
    border-left:1px solid #EFEFEF;
    margin-left:-1px;
}
.DVSL-hover-center div {
    padding:0 6px;
}
.DVSL-hover-left div:first-child, .DVSL-hover-right div:first-child, .DVSL-hover-center div:first-child {
    border-left:none;
}
.DVSL-hover-left div:last-child, .DVSL-hover-right div:last-child, .DVSL-hover-center div:last-child {
    border-right:none;
}
.DVSL-hover-left p, .DVSL-hover-right p, .DVSL-hover-center p {
    padding:0;
    margin:0;
    font-size:13px;
}
.DVSL-hover-center p {
    display:none;
}
.DVSL-hover-left strong, .DVSL-hover-right strong, .DVSL-hover-center strong {
    display:block;
    font-weight:bold;
    color:#39c;
    font-size:28px;
    line-height:28px;
}
.DVSL-hover-center strong {
    color:#333;
}
.DVSL-gradient .DVSL-hover-center strong {
    text-shadow:0 1px 0 rgba(255,255,255,.5);
}
.DVSL-hover-left small, .DVSL-hover-right small, .DVSL-hover-center small {
    font-size:12px;
    color:#666;
}
.DVSL-hover-center small {
    color:#FFF;
}

/* resizer */
.DVSL-resizer {
    position: absolute;
    display:none;
    height: 1px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: #FFF;
    border-bottom:1px dotted #CCC;
    border-top:1px dotted #CCC;
}
.DVSL-gradient .DVSL-resizer {
    height: 8px;
    background: url(vertical-resizer.png) top center;
    border-bottom:none;
    border-top:none;
}

/* info popup */
.DVSL-info-right {
    left:30px;
    top:10px;
}
.DVSL-info-center {
    left:550px;
    top:10px;
}
.DVSL-info-left {
    left:850px;
    top:10px;
}
.DVSL-info-right b, .DVSL-info-left b, .DVSL-info-center b {
    display:block;
    padding:4px 9px 0 9px;
    font-weight: normal;
}
.DVSL-info-right, .DVSL-info-left, .DVSL-info-center {
    position:absolute;
    background:#efefef;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,.6);
    -moz-box-shadow:    0px 1px 7px rgba(0,0,0,.6);
    box-shadow:         0px 1px 7px rgba(0,0,0,.6);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-bottom:1px solid #FFF;
    font-size:13px;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom:5px;
    z-index:1;
}
.DVSL-info-right strong, .DVSL-info-left strong, .DVSL-info-center strong {
    padding:7px 10px;
    background:#FFF;
    display:block;
    border-bottom:1px solid #DDD;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size:15px;
    color:#000;
    font-weight:normal;
}
.DVSL-info-right strong small, .DVSL-info-left strong small, .DVSL-info-center strong small {
    display:inline-block;
    padding-left:5px;
    font-size:12px;
    color:#666;
}
.DVSL-info-left h3, .DVSL-info-right h3, .DVSL-info-center h3 {
    padding:6px 7px 5px 7px;
    margin:0;
    font-size:12px;
    font-weight:normal;
    background-color:rgba(0,0,0,.05);
    border-top:1px solid rgba(0,0,0,.1);
}
.DVSL-info-left table, .DVSL-info-right table, .DVSL-info-center table {
    padding:0;
    margin:0;
    font-size:12px;
    width:100%;
}
.DVSL-info-left tr, .DVSL-info-right tr, .DVSL-info-center tr {
    padding:0;
    margin:0;
}
.DVSL-info-left tr:nth-child(even), .DVSL-info-right tr:nth-child(even), .DVSL-info-center tr:nth-child(even) {
    background-color:rgba(255,255,255,.5);
}
.DVSL-info-left td, .DVSL-info-right td, .DVSL-info-center td {
    position:relative;
    padding:3px 5px;
    color:#666;
    text-align:right;
}

.DVSL-info-selected {
    position:absolute;
    content:"";
    left:0;
    width:3px;
    top:0;
    bottom:0;
    background:blue;
}

.DVSL-info-left td:nth-child(even), .DVSL-info-right td:nth-child(even), .DVSL-info-center td:nth-child(even) {
    padding-right:1px;
}
.DVSL-info-left td:nth-child(odd), .DVSL-info-right td:nth-child(odd), .DVSL-info-center td:nth-child(odd) {
    padding-left:1px;
}
.DVSL-info-left td:first-child, .DVSL-info-right td:first-child, .DVSL-info-center td:first-child {
    padding-left:5px;
    text-align:left;
}
.DVSL-info-left td:last-child, .DVSL-info-right td:last-child, .DVSL-info-center td:last-child {
    padding-right:5px;
}
.DVSL-info-right em, .DVSL-info-left em {
    content: "";
    width:0;
    height:0;
    position:absolute;
}
.DVSL-info-right em {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:6px solid #FFF;
    left:-6px;
    top:16px;
    margin-top:-6px;
}
.DVSL-info-left em {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left:6px solid #FFF;
    right:-6px;
    top:16px;
    margin-top:-6px;
}


/* Right click menu */

.DVSL-Menu {
    background:#efefef;
    line-height:140%;
    -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,.6);
    -moz-box-shadow:    0px 1px 7px rgba(0,0,0,.6);
    box-shadow:         0px 1px 7px rgba(0,0,0,.6);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-bottom:1px solid #FFF;
    font-size:13px;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    max-width:600px;
}

.DVSL-Menu strong {
    padding:15px 35px 14px 16px;
    margin: -6px -32px -6px -6px;
    background:#FFF;
    display:block;
    border-bottom:1px solid #DDD;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size:16px;
    color:#000;
    font-weight:normal;
}
.DVSL-Menu ul {
    float:left;
    padding:16px;
    margin:0;
    max-width:300px;
}
.DVSL-Menu.NC-with-logo ul {
    width:270px;
}
.DVSL-Menu li {
    list-style:none;
    padding:1px 0 0 80px;
    clear: both;
    font-size:12px;
    color:#333;
}
.DVSL-Menu li span {
    float:left;
    margin-left:-80px;
    color:#666;
}
.DVSL-Menu img {
    width:180px;
    height:auto;
    float:right;
    padding:16px 16px 12px 0;
}
.DVSL-Menu .clear {clear:both}

.DVSL-Menu-details {
    position:relative;
    padding:16px 16px 0 16px;
}
.DVSL-Menu-details small {
    position:absolute;
    right:16px;
    top:-18px;
    font-size:11px;
    color:#999;
    outline:none;
}
.DVSL-Menu-details small:hover {
    color:#333;
    cursor:pointer;
}
.DVSL-Menu-details pre {
    padding:12px;
    background:#FFF;
    margin-top:-9px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.7);
    -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.7);
    box-shadow:         inset 0 0 5px rgba(0,0,0,.7);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size:12px;
    white-space: pre-wrap;
    display:none;
}
.DVSL-Menu nav {
    background:#e2e2e2;
    display:block;
    padding:8px 8px 3px 8px;
    -webkit-box-shadow: inset 0 2px 2px -1px rgba(0,0,0,.3);
    -moz-box-shadow:    inset 0 2px 2px -1px rgba(0,0,0,.3);
    box-shadow:         inset 0 2px 2px -1px rgba(0,0,0,.3);
    border-top:1px solid #FFF;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.DVSL-Menu nav a {
    text-decoration:none;
    text-transform:uppercase;
    font-size:10px;
    color:#333;
    display:inline-block;
    padding:3px 2px 2px 22px;
    background-repeat:no-repeat;
    opacity:.7;
    position:relative;
}

.DVSL-Menu nav a:hover {color:#000;opacity:1}
.DVSL-Menu nav a:hover:after {
    content:"";
    position:absolute;
    top:-8px;
    left:0;
    right:0;
    height:2px;
    background:#09c;
}

.DVSL-Menu b {
    position:absolute;
    left:16px;
    top:-8px;
    font-size:11px;
    color:#FFF;
    background:#C00;
    padding:0 4px;
    font-weight:normal;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.4);
    box-shadow:         inset 0 0 5px rgba(0,0,0,.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.DVSL-Menu-title {
    padding: 6px 32px 6px 6px;
}

.DVSL-Menu-close {
    position:absolute;
    top:5px;
    right:5px;
    text-decoration:none;
    font-size:13px;
    color:#CCC;
    border:1px solid #CCC;
    width:19px;
    height:19px;
    text-align:center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family:Verdana, Geneva, sans-serif;
}
.DVSL-Menu-close:hover {
    color:#333;
    border-color:#666;
}

/* Resize listener stuff */

.DVSL-resize-triggers {
    visibility: hidden;
}

.DVSL-resize-triggers, .DVSL-resize-triggers > div, .DVSL-contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.DVSL-resize-triggers > div {
    background: #eee;
    overflow: hidden;
}

.DVSL-contract-trigger:before {
    width: 200%;
    height: 200%;
}

.DVSL-fullscreen {
    position: fixed!important;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index: 99999;
    background: #fff;
    width: auto!important;
    height: auto!important;
}