input, select {
    font-size:0.9em;
}

table {
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

#container {
    width: 100%;
    height: 100%;
    margin:0;
    font-size:11px;
    font-family: Arial;
}

#left-container, 
#right-container, 
#center-container {
    height:100%;
    margin-top:-15px;
    font-size:11px;
    font-family: Arial;
}

#popup-1{
	margin-top:-10px;
}

#left-container, #right-container {
    width:100%;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    background-image:url('col2.png');
    background-position:center right;
    border-left:0px solid #ddd;
    
}

#right-container {
    right:0;
    background-position:center left;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:0px;
}

#center-container {
    width:100%;
    margin-top:20px;
    background-color:#D8D8D8;
    color:#000;
    font-size:11px;
    font-family: Arial;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:0px;
}

#log {
    font-size:1.0em;
    font-weight:bold;
    color:#000000;
}


#infovis {
    width:100%;
    height:100%;
    margin-top:20px;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:0px;
}